*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:linear-gradient(135deg,#e3e3e3,#cfcfcf);
}

.container{
display:flex;
padding:30px;
gap:30px;
}

.products{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
flex:3;
}

.card{
background:#fff;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:120px;
height:120px;
object-fit:contain;
margin-bottom:10px;
}

.card button{
padding:8px 15px;
border:none;
background:#222;
color:white;
border-radius:20px;
cursor:pointer;
}

.card button:hover{
background:#ff9800;
}

.cart{
flex:1;
background:#3d322f;
color:white;
padding:20px;
border-radius:15px;
height:fit-content;
}

.cartItem{
display:flex;
justify-content:space-between;
margin-bottom:10px;
align-items:center;
}

.qty{
display:flex;
gap:5px;
}

.qty button{
padding:3px 8px;
border:none;
cursor:pointer;
border-radius:5px;
}

.total{
margin-top:15px;
border-top:1px solid #aaa;
padding-top:10px;
}